HW2/.vs/HW2/v16/.suo
HW2/.vs/HW2/v16/Browse.VC.db
HW2/.vs/HW2/v16/Browse.VC.db-shm
HW2/.vs/HW2/v16/Browse.VC.db-wal
HW2/.vs/HW2/v16/Browse.VC.opendb
HW2/Debug/HW2.exe
HW2/Debug/HW2.ilk
HW2/Debug/HW2.pdb
HW2/HW2/Debug/HW2-1.obj
HW2/HW2/Debug/HW2.log
HW2/HW2/Debug/vc142.idb
HW2/HW2/Debug/vc142.pdb
